export(filter_sg)
export(remove_mahalanobis_outliers)
export(spectra2colour)
export(strip_spectra)
importFrom(munsell,rgb2mnsl)
importFrom(mvoutlier,sign1)
importFrom(pls,plsr)
importFrom(pls,scores)
importFrom(plyr,aaply)
importFrom(plyr,adply)
importFrom(plyr,llply)
importFrom(plyr,splat)
importFrom(signal,sgolayfilt)
