export(bias)
export(ccc)
export(chBLC)
export(compSpec)
export(epo)
export(filter_sg)
export(fit_bag_plsr)
export(goof)
export(mscBLC)
export(munsell_treemap)
export(predict_bag_plsr)
export(remove_mahalanobis_outliers)
export(rmse)
export(snvBLC)
export(spectra2colour)
export(strip_spectra)
export(trimSpec)
export(wavelet_smooth)
import(ggplot2)
importFrom(MASS,eqscplot)
importFrom(epiR,epi.ccc)
importFrom(munsell,mnsl)
importFrom(munsell,rgb2mnsl)
importFrom(mvoutlier,sign1)
importFrom(pls,plsr)
importFrom(pls,scores)
importFrom(plyr,aaply)
importFrom(plyr,adply)
importFrom(plyr,llply)
importFrom(plyr,splat)
importFrom(signal,sgolayfilt)
importFrom(stats,predict)
importFrom(treemap,tmPlot)
importFrom(wavethresh,accessC.wd)
importFrom(wavethresh,wd)
